.form-page {
    position: relative;
    display: flex;
    width: 40%;
    height: 100%;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}

.form-page form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 96%;
    gap: 10px;
    border-radius: 20px;
    /* background-color: rgb(255, 255, 255); */
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px 10px 10px;
}

/* .form-input {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10px;

} */

/* .divider {
    width: 95%;
    border: 1px solid rgb(212, 212, 212);
} */

.selected-header {
    /* position: absolute; */
    /* width: auto; */
    height: 5%;
    margin-top: 10px;
    /* margin-left: 10px; */
    /* background-color: #0085FF; */
    /* border: 2px solid red; */
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    /* text-justify: ce; */
}

.cart-items {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95%;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    font-size: 16px;
    font-family: sans-serif;
    background-color: #efefef;
    overflow: auto;
}

.cart-items p {
    display: flex;
    margin: auto;
    /* align-content: center;
    justify-content: center; */
    
}

.selectedItem {
    margin: 10px;
    /* padding: px; */
    /* border: 4px solid blue; */
    border-collapse: collapse
    /* background-color: #b8b9b9; */
}

.selectedItem th  {
    padding: 5px;
    border-bottom: 1px solid #707070;
    text-align: left;
    /* background-color: #04AA6D; */
}

.selectedItem td {
    padding: 5px;
}

.button-footer {
    position: relative;
    /* display: grid; */
    /* grid-template-columns: auto auto auto; */
    width: 100%;
    height: 15%;
    /* background-color: aqua; */
}

.total-amount {
    display: flex;
    align-content: center;
    justify-content: center;
}

button.submit-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
    padding: 0.6em 1.2em;
    font-size: 100%;
    font-weight: bold;
    background-color: #0085FF;
    border: 4px solid #0085FF;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.25s, color 0.25s, border-color 0.25s;
}

/* Hover State for Submit Button */
button.submit-button:hover {
    background-color: #ffffff;
    color: #0085FF;
}

button.clear-button {
    position: absolute;
    left: 10px;
    bottom: 10px;
    border-radius: 10px;
    padding: 0.6em 1.2em;
    font-size: 100%;
    font-weight: bold;
    background-color: #0085FF;
    border: 4px solid #0085FF;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.25s, color 0.25s, border-color 0.25s;
}

button.clear-button:hover {
    background-color: #ffffff;
    color: #0085FF;
}