body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.app-container {
  /* max-width: 1200px; */
  margin: auto;
  padding: 10px;
  /* background-color: #030303; */
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
  /* border-radius: 8px; */
  text-align: center;
}

.app-container header {
  display: flex;
  background-color: #ff85b3;
  color: white;
  padding: 20px;
  font-size: 24px;
  align-items: center;
  justify-content: center;
}

.payment-section, .banking-section {
  margin-top: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.app-container table {
  width: 100%;
  margin-top: 20px;
}

.app-container th,.app-container td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #f0e1f4;
}

.app-container button {
  background-color: #ff85b3;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.app-container button:hover {
  background-color: #ff65a3;
}

.app-container .tabs button {
  padding: 10px 20px;
  margin-right: 5px;
  background-color: #070707;
  border: rgb(255, 255, 255);
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.app-container .tabs button:hover {
  background-color: #222222;
}

.app-container .receipt-section {
  background-color: #b9ffdd;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.booking-table {
  color: black;
  font-family: 'Arial', sans-serif;
  width: 100%;
  height: 400px;
  border-collapse: collapse;
  overflow: auto;
}

.order-table {
  color: black;
  font-family: 'Arial', sans-serif;
  width: 100%;
  height: 420px;
  border-collapse: collapse;
  overflow: auto;
}

.order-table h2 {
  text-align: center;
}

.payment-menu-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* .app-container .receipt-section h2 {
  color: #000000;
} */

/* .app-container .table {
  width: 100%;
  border-collapse: collapse;
} */

/* .app-container .table th,.app-container.table td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
} */

/* .app-container .table th {
  background-color: #f0f0f0;
} */

/* .app-container .img-responsive {
  max-width: 100%;
  height: auto;
} */

/* .app-container .contact-reception {
  margin-top: 20px;
  color: #333;
  font-style: italic;
} */



/* .order-table table {
  width: 100%;
  margin: 20px 0;
} */

/* .order-table th, .order-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid black;
} */

/* .order-table th {
  background-color: #f0e1f4;
} */

