body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  /* background-color: #f0f0f0; */
}

.payment-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
  gap: 10px;
  text-align: center;
}

.payment-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin: 0;
  border-radius: 10px;
  background-color: #0080ff;
  color: white;
}

.icon-payment {
  display: flex;
  width: 50px;
  height: 100%;
}

.payment-content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  /* align-items: center;  */
  justify-items: center; 
  gap: 20px;
  width: 100%;
  /* height: 100%; */
  padding: 16px;
  overflow: auto;
}

.payment-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 550px;
  min-width: 400px;
  min-height: 350px;
  height: auto;
  /* max-height: 100px; */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  background-color: white;
  /* overflow: auto; */
}

.card-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  font-weight: 1000px;
  border-radius: 10px;
  gap: 10px;
  background-color: #f2f2f2;
  color: #000000;
  overflow: auto;
}

/* .card-header h1 {
  color: #0080ff;
} */

.card-header h1, .card-header h2 {
  margin: 0px;
  
}

.card-header-room-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 80%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #0080ff;
  color: #ffffff;
}

.table-booking-list {
  /* position: absolute; */
  width: 100%;
  /* margin: 10px; */
  /* background-color: #0080ff; */
}

.container-btn-payment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

.container-order-list {
  position: relative;
  display: flex;
  /* flex-direction: r; */
  align-items:start;
  justify-content: center;
  width: 100%;
  height: 320px;
  max-height: 350px;
  overflow: auto;
}


.table-order-list {
  /* position: absolute; */
  width: 100%;
  /* height: 100%; */
  padding: 5px;
  margin: 10px;
  text-align: left;
  border-collapse: collapse;
  
  /* background-color: #0080ff; */
}

.table-order-list thead {
  /* background-color:#e3e3e3; */
  border-bottom: 1px solid #000000;
  border-collapse: collapse
}

.table-order-list th, .table-order-list td {
  padding: 8px;
}

.container-btn-payment button {
  width: 80px;
  height: 30px;
  /* border: none; */
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.25s, color 0.25s, border-color 0.25s, filter 0.25s;
}

.payment-card-total-amount {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 5px;
  /* text-align: center; */
  font-size: 8px;
  /* display: flex; */
  /* flex-direction: r; */
  /* align-items:start;
  justify-content: center; */
  height: 30px;
  background-color: #f2f2f2;
}

/* Button */
.btn-confirm-booking {
  border: 2px solid #0080ff;
  background-color: #0080ff;
}

.btn-confirm-booking:hover {
  color: #0080ff;
  background-color: white;
}

.btn-cancel-booking {
  border: 2px solid red;
  background-color: #ff0000;
}

.btn-cancel-booking:hover {
  border: 2px solid red;
  color: red;
  background-color: #ffffff;
}

.btn-cancel-order {
  width: 60px;
  height: 30px;
  border: 2px solid red;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(255, 0, 0);
  background-color: #ffffff;
  transition: background-color 0.25s, color 0.25s, border-color 0.25s, filter 0.25s;
}

.btn-cancel-order:hover {
  color: white;
  background-color: #ff0000;
}

