.create-page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.create-card {
    width: auto;
    height: auto;
    border: 0;
    border-radius: 0;
}

:where(.css-dev-only-do-not-override-1gwfwyx).ant-card .ant-card-body {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px;
    /* border-radius: 0 0 8px 8px; */
}
.create-card-header {
    padding: 20px;
    font-size: 26px;
}

.create-form .ant-form-item-label {
    font-weight: bold;
    width: 100%;
}

.create-form .ant-form-item-required {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.create-form .ant-btn-primary {
    background-color: #1890ff;
    border-color: #1890ff;
}

.create-form .ant-btn-primary:hover {
    background-color: #40a9ff;
    border-color: #40a9ff;
}
