.booking-page {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* width: 100%;
    height: 100%; */
    /* background-color: beige; */
    /* overflow: auto; */
}

.booking-header {
  padding: 20px;
  font-size: 26px;
}

.booking-list-page {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    /* grid-auto-columns: 2000px; */
    grid-auto-rows: 200px; 
    row-gap: 26px;
    /* gap: 16px; */
    width: 100%;
    height: 100%;
    padding: 16px;
    align-items: center; 
    justify-items: center; 
    margin-bottom: 26px;
    /* overflow: auto; */
}

.booking-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    /* align-content: center;
    justify-content: center; */
    padding: 16px;
    /* border: 2px solid none; */
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    background-color: #ffffff;

    transition: background-color 0.25s, color 0.25s, border-color 0.25s, filter 0.25s;
}

/* .booking-item:hover {
    background-color:#0080ff;
    color: white;
} */

.card-icon {
    width: 100%;
    height: 100%;
    /* min-width: 120px;
    min-height: 120px; */
    object-fit:scale-down;
}

.container-booking-card {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    align-content: center;
    justify-content: center;
}

.booking-item-crad {
  display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    cursor: pointer;
}

.booking-item-crad:hover {
    opacity: 0.5 ;
    transition: 0.25s linear;
}


/* Ticket https://codepen.io/verpixelt/pen/AXBdKy*/ 
.cardWrap {
  display: flex;
  align-items: stretch;
  transform: scale(1.0);
  transform-origin: center; 
  width:auto;
  max-width: 400px;
}

  
  .card {
    /* flex: 1; */
    background: linear-gradient(to bottom, #0080ff 0%, #0080ff 26%, #ecedef 26%, #ecedef 100%);
    height: 100%;
    float: left;
    position: relative;
    padding: 1em;
    /* margin-top: 100px; */
  }
  
  .cardLeft {
    flex: 1;
    height: 100%;
    margin-top: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 16em;
    height: 200px;
  }
  
  .cardRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    
    height: 200px;
    margin-top: 0px;
    border-left: .18em dashed #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
  }
  
  .cardRight:before,
  .cardRight:after {
    content: "";
    position: absolute;
    display: block;
    width: .9em;
    height: .9em;
    background: #fff;
    border-radius: 50%;
    left: -.5em;
  }
  
  .cardRight:before {
    top: -.4em;
  }
  
  .cardRight:after {
    bottom: -.4em;
  }
  
  .cardLeft h1 {
    font-size: 1.1em;
    margin-top: 0;
    color: #ffffff;
  }
  
  /* h1 span {
    font-weight: normal;
  } */
  
  .title, .name, .seat, .time {
    text-transform: uppercase;
    font-weight: normal;
  }
  
  .title h2, .name h2, .seat h2, .time h2 {
    font-size: .9em;
    color: #525252;
    margin: 0;
  }
  
  .title span, .name span, .seat span, .time span {
    font-size: .7em;
    color: #a2aeae;
  }
  
  .title {
    margin: 2em 0 0 0;
  }
  
  .name, .seat {
    margin: .7em 0 0 0;
  }
  
  .time {
    margin: .7em 0 0 1em;
  }
  
  .seat, .time {
    float: left;
  }
  
  .eye {
    position: relative;
    width: 2em;
    height: 1.5em;
    background: #fff;
    margin: 0 auto;
    border-radius: 1em/0.6em;
    z-index: 1;
  }
  
  .eye:before, 
  .eye:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
  }
  
  .eye:before {
    width: 1em;
    height: 1em;
    background: #e84c3d;
    z-index: 2;
    left: 8px;
    top: 4px;
  }
  
  .eye:after {
    width: .5em;
    height: .5em;
    background: #fff;
    z-index: 3;
    left: 12px;
    top: 8px;
  }
  
  .number {
    text-align: center;
    text-transform: uppercase;
  }
  
  .number h3 {
    color: #0080ff;
    margin: .9em 0 0 0;
    font-size: 2.5em;
  }
  
  .number span {
    display: block;
    color: #a2aeae;
  }